@use "./base.scss";

// put your custom CSS here!
.your-logo {
    padding: 1rem;
    
    a {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
    
    img {
      height: 40px;
      width: auto;
      object-fit: contain;
      display: block;
    }
    
    .logo-text {
      font-size: 1.75rem;
      font-weight: bold;
      line-height: 1;
      font-family: var(--titleFont);
      color: var(--dark);
    }
  }